<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/main.css') }}">
      {% if title %}
      <title>{{ title }} - HRDC DB</title>
      {% else %}
      <title>Welcome to HRDC DB</title>
      {% endif %}
    </head>
    <body>

        <div class="row">

          <div class="leftColumn">
            <a class="header_button" href="{{ url_for('index') }}">Home</a>
            <a class="header_button" href="{{ url_for('register') }}">Create New User</a>
            <a class="header_button" href="{{ url_for('render_form', form = 'CreateClient') }}">Create New Client</a>
          </div>

          <div class="rightColumn">
            {% block content %}{% endblock %}
          </div>

        </div>

    </body>
</html>