<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/main.css') }}">
      {% if title %}
      <title>{{ title }} - HRDC DB</title>
      {% else %}
      <title>Welcome to HRDC DB</title>
      {% endif %}
    </head>
    <body>

        <div class="row">

          <div class="leftColumn">
            {% if current_user.is_anonymous %}
            <a class="header_button" href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a class="header_button" href="{{ url_for('client_checkin') }}">Kiosk</a>
            <a class="header_button" href="{{ url_for('index') }}">Home</a>
            <a class="header_button" href="{{ url_for('render_form', form = 'RegistrationForm') }}">Create New User</a>
            <a class="header_button" href="{{ url_for('create_client') }}">Create New Client</a>
            <a class="header_button" href="{{ url_for('view_clients', client_data = 'None') }}">Find Client</a>
            <a class="header_button" href="{{ url_for('add_record', record_type = 'ServiceType') }}">Add Service Type</a>
            <a class="header_button" href="{{ url_for('add_record', record_type = 'Program') }}">Add Program</a>
            <a class="header_button" href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
          </div>

          <div class="rightColumn">
            current user: {{ current_user.username }} <br>
            user_id: {{ current_user.id }} <br>
            {% block content %}{% endblock %}
          </div>

        </div>

    </body>
</html>