{% extends "base.html" %}

{% block content %}
    <div class="demogFields">
        <div class="formElement">
            <a href="{{ url_for('universal_form', clientid = client.id)}}" class="dash_button">Print Universal Form</a>
        </div>
    </div>
    <div class="formFields">
        <div class="formElement">
            <h2>Client Demographics</h2>
            <table>
                <tr>
                    <td>Client Name</td> 
                    <td>{{ client.first_name }} {{ client.middle_name }} {{ client.last_name }}</td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>{{ client.dob }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{ client.gen.gender }}</td>
                </tr>
            </table>
        <a href="{{ url_for('edit_client', clientid = client.id)}}" class="dash_button">Edit Client Demographics</a>
        </div>
        <div class="formElement">
            <h2>Address</h2>
            {% if address %}
            <table>
                <tr>
                    <td>{{ address.address }}</td>
                </tr>
                <tr>
                    <td>{{ address.address_2 }}</td>
                </tr>
                <tr>
                    <td>{{ address.city }}</td>
                </tr>
                <tr>
                    <td>{{ address.state }}</td>
                </tr>
            </table>
            {% endif %}
            <a href="{{ url_for('add_address', clientid = client.id)}}" class="dash_button">Add Address</a>
        </div>
        
    </div>


    <div class="formFields">
        <div class="formElement">
            <h2>Contact Information</h2>
            {% if contact_info %}
            <table class="contactInfo">
                <tr>
                    <th>Contact</th>
                    <th>Type</th>
                </tr>
                {% for c in contact_info %}
                <tr>
                    <td>{{ c.contact }}</td>
                    <td>{{ c.ContactType.contact_type }}</td>
                </tr>
                {% endfor%}
            </table>
            {% endif %}
            <a href="{{ url_for('create_contact', clientid = client.id)}}" class="dash_button">Edit Contact Information</a>
        </div>
        <div class="formElement">
            <h2>Family Information</h2>
            {% if relations %}
            <table class="clientView">
                <tr>
                    <th>Client A</th>
                    <th>Client B</th>
                    <th>Relationship</th>
                </tr>
                {% for r in relations %}
                <tr>
                    <td>{{ r.client_a.first_name }} {{ r.client_a.last_name }}</td>
                    <td>{{ r.client_b.first_name }} {{ r.client_b.last_name }}</td>
                    <td>{{ r.relationship.relationship }}</td>
                </tr>
                {% endfor%}
            </table>
            {% endif %}
            <a href="{{ url_for('create_relationship', clientid = client.id)}}" class="button">Add Relationship</a>
        </div>       
        <div class="formElement">
            <h2>Services</h2>
            <a href="{{ url_for('add_service', clientid = client.id)}}" class="button">Add new service</a>
        </div>
        <div class="formElement">
            <h2>Assessments</h2>
            <a href="{{ url_for('create_contact', clientid = client.id)}}" class="button">Add new assessment</a>
        </div>
    </div>
{% endblock %}