{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <div class="formFields">
        {% for field in form %}
            {% if ((field.type != 'CSRFTokenField') and (field.type != 'SubmitField')) %}
            <div class="formElement">
                <strong>{{ field.label() }}:</strong>
                {{ field() }} <br>
                {% for error in field.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
        </div>

        <div class="submitField">
        {{ form.submit() }}
        </div>
    </form>
{% endblock %}
