{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <div class="formFields">
        {% for field in form %}
            {% if ((field.type != 'CSRFTokenField') and (field.type != 'SubmitField')) %}
            <div class="formElement">
                {{ field.label() }}
                {{ field() }}
            </div>
            {% endif %}
        {% endfor %}
        </div>

        <div class="submitField">
        {{ form.submit() }}
        </div>
    </form>
{% endblock %}
