*.json
*.pyc
*.db

# Distribution / packaging
.bash_history
.cache/
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
.Python
env/
build/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.vscode/
**/*pycache
*.pyc
.idea

node_modules/