body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  padding: 15px;
  background: #147278;
}

/*colors = ['#147278','#98c23d','#003e52']*/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #dddddd;
  background-color: #98c23d;
  text-align: left;
  padding: 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.formElement{
    float: left;
    padding: 20px 20px;
    border: solid;
    width: 45%;
}

.leftColumn {
  float: left;
  width: 15%;
}

.rightColumn{
  float: right;
  width: 80%;
}


.submitField{
  float: left;
  padding: 20px 20px;
  border: solid;
  clear: both;
}

.formFields{
  float: center;
}


.header_button{
    color: #9ca6b7;
    border: solid;
    padding: 20px 20px;
    text-align: center;
    background-color: #003e52;
    text-decoration: none;
    cursor: pointer;
    display: inline;
    width: 100%;
    float: left;
}